# PYTHON WITH SHRADHA KHAPRA

# Lecture 1 - Variables & Data Types

# 1. Our First Program

Print is a function which is used to print anything on the console

In [6]:
print("My name is Diksha Singh")

My name is Diksha Singh

In [8]:
print("I am 23 years old.")

I am 23 years old.

In [10]:
print("My name is Diksha Singh.", "I am 24 years old.")

My name is Diksha Singh. I am 24 years old.

In [12]:
print(45)

45

In [14]:
print(45+55)

100

# 2. Data Types in Python:
Integers

String

Float

Boolean

None

In [18]:
name= "Diksha" #String
age= 23 #Integer
marks= 97.97 #Float

print(name)
print(age)
print(marks)

Diksha
23
97.97

In [20]:
age2= age
print(age2)

23

To print the data type of the above variables

In [26]:
print(type(name))
print(type(age)) #integer can be +ve or -ve value
print(type(marks))

<class 'str'>
<class 'int'>
<class 'float'>

# 3. Variable

A variable is a name given to a memory location in a program.

# 4. Operators

An operator is a symbol that performs a certain operation between operands.

# Types of operators

Arithmetic Operators ( + , - , * , / , % , ** )

Relational / Comparison Operators ( == , != , > , < , >= , <= )

Assignment Operators ( = , +=, -= , *= , /= , %= , **= )

Logical Operators ( not , and , or )

In [32]:
#Arithmetic Operators
a = 5 
b = 2

print("Output for Arithmetic Operators : ")
print(a + b) #sum
print(a - b) #difference
print(a * b) #product
print(a / b) #division
print(a % b) #remainder
print(a ** b) #power

Output for Arithmetic Operators :
7
3
10
2.5
1
25

In [34]:
#Relational Operators
x = 4
y = 5

print("Output for Relational Operators : ")
print(x == y) #false
print(x != y) #true
print(x >= y) #false
print(x <= y) #true
print(x > y) #false
print(x < y) #true

Output for Relational Operators :
False
True
False
True
False
True

In [40]:
# Assignment Operators

num = 10
num += 10  # num = num + 10
print("num : ",num)

num -= 10 #  num = num - 10
print("num : ",num)

num *= 10  # num = num * 10
print("num : ",num)

num /= 10 # num = num / 10 
print("num : ",num)

num **=5 # to the power 5
print("num : ",num)

num :  20
num :  10
num :  100
num :  10.0
num :  100000.0

In [42]:
# Logical Operators
n = 5
y = 8
print(not False)
print(not True)

print(not (n < y))

val1 = False
val2 = True
print("AND operator:",val1 and val2)

print("OR operator:",(n > y) or (n < y))

True
False
False
AND operator: False
OR operator: True

# 5. Type conversion

Data type conversion automatically

In [45]:
a=2 #int
b=4.25 #float
sum=a+b #Python automatically converts int value into float [2.0+4.25]
print(sum)

6.25

In [47]:
#Let a= "2" and b =4.45 
#ERROR [we cannot add string type to float or integer]

# Type Casting  
Data type conversion manually

In [51]:
a, b = 1, "5"
c = int(b)
sum = a + c

print(sum)

6

In [53]:
c=3.14
c= str(c)
print(type(c))

<class 'str'>

# 6. Input in Python

In [58]:
#input( ) statement is used to accept values (manually using keyboard) from user
#Result for input() is always a string
name= input("Enter your name:") 
print("Welcome", name)
print(type(name), name) #ALWAYS STRING

Enter your name: Diksha

Welcome Diksha
<class 'str'> Diksha

In [60]:
#TO DETERMINE THE ACCURATE DATA TYPE WE USE TYPECASTING
age= int(input("Enter your age:")) #To convert into int
print("your age is", age)
print(type(age), age) #ALWAYS STRING

Enter your age: 23

your age is 23
<class 'int'> 23

# 7. Practice Questions

Write a Program to input 2 numbers & print their sum.

In [66]:
num1 = int(input("Enter number 1 : "))
num2 = int(input("Enter number 2 : "))
print("The sum is: ",(num1 + num2))

Enter number 1 :  12
Enter number 2 :  15

The sum is:  27

Write a program to input side of a square & print its area.

In [69]:
side = float(input("Enter the side of the square : "))
print("Area of Square is : ", (side*side))

Enter the side of the square :  5

Area of Square is :  25.0

Write a Program to input two floating point numbers & print their average.

In [72]:
number1 = float(input("Enter number 1 : "))
number2 = float(input("Enter number 2 : "))
average  = (number1 + number2 ) / 2
print("The average is : ",average)

Enter number 1 :  5
Enter number 2 :  7

The average is :  6.0

Write a Program to input two int numbers, a and b. Print True if a is greater than or equal to b. If not print False.

In [75]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
print(a>=b)

Enter number 1 :  5
Enter number 2 :  9

False